<?xml version="1.0"?>
<config>
	<engine>
		<title>Jade Theory</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1920" height="1080" scale="1" />
		<camera zoom="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="true" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="MapTemplate1.tmx" />
		<entities>
			<player x="1000" y="1047" w="100" h="256" texture="Assets/Animations/PlayerAnims/renRunSpriteSheet.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.5">
						<frame x="0" y="768" w="256" h="256" />
					</idle>
					<walk loop="true" speed="0.15">
						<frame x="0" y="0" w="256" h="256" />
						<frame x="256" y="0" w="256" h="256" />
						<frame x="512" y="0" w="256" h="256" />
						<frame x="768" y="0" w="256" h="256" />
						<frame x="1024" y="0" w="256" h="256" />
						<frame x="1280" y="0" w="256" h="256" />
						<frame x="1536" y="0" w="256" h="256" />
						<frame x="1792" y="0" w="256" h="256" />
						<frame x="2048" y="0" w="256" h="256" />
					</walk>
					<jump loop="true" speed="0.5">
						<frame x="0" y="256" w="256" h="256" />
					</jump>
					<dash loop="true" speed="0.5">
						<frame x="0" y="512" w="256" h="256" />
					</dash>
					<crouch loop="true" speed="0.5">
						<frame x="0" y="1024" w="256" h="256" />
					</crouch>
				</animations>
			</player>
			<npcMENTORSHIP x="1000" y="1100" w="111" h="271" texture="Assets/Textures/npcMENTORSHIP.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.5">
						<frame x="0" y="0" w="111" h="271" />
					</idle>
				</animations>
			</npcMENTORSHIP>
			<npcVILLAGE2 x="871" y="1200" w="111" h="271" texture="Assets/Textures/player/Idle.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.5">
						<frame x="0" y="0" w="111" h="271" />
					</idle>
				</animations>
			</npcVILLAGE2>
			<npcISAMU x="500" y="1100" w="111" h="271" texture="Assets/Textures/player/Idle.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.5">
						<frame x="0" y="0" w="111" h="271" />
					</idle>
				</animations>
			</npcISAMU>
			<npcKAEDE x="200" y="1100" w="111" h="271" texture="Assets/Textures/player/Idle.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.5">
						<frame x="0" y="0" w="111" h="271" />
					</idle>
				</animations>
			</npcKAEDE>
			<npcHANZO x="350" y="1100" w="111" h="271" texture="Assets/Textures/player/Idle.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.5">
						<frame x="0" y="0" w="111" h="271" />
					</idle>
				</animations>
			</npcHANZO>
			<items>
				<item name="coin" x="19840" y="3024" w="32" h="32" texture="Assets/Textures/goldCoin.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
				</item>
				<testItem
					 name="Health Potion"
					 description="Restores a small amount of health."
					 icon="Assets/Textures/goldCoin.png"
					 x="1300"
					 y="1050"
					 w="32"
					 h="32"
					 texture="Assets/Textures/goldCoin.png"
					 gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
				</testItem>
				<testItem
					 name="Mana Potion"
					 description="Restores a small amount of mana."
					 icon="Assets/Textures/goldCoin.png"
					 x="1400"
					 y="1050"
					 w="32"
					 h="32"
					 texture="Assets/Textures/goldCoin.png"
					 gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
				</testItem>
			</items>
			<enemies>
				<enemy name="badguy" x="99" y="1047" w="111" h="271" texture="Assets/Textures/enemy/Idle.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
							<frame x="192" y="0" w="32" h="32" />
							<frame x="224" y="0" w="32" h="32" />
							<frame x="256" y="0" w="32" h="32" />
						</idle>
					</animations>
				</enemy>
				<turret name="turret" x="500" y="1047" w="111" h="271" texture="Assets/Textures/enemy/Idle.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
							<frame x="192" y="0" w="32" h="32" />
							<frame x="224" y="0" w="32" h="32" />
							<frame x="256" y="0" w="32" h="32" />
						</idle>
					</animations>
				</turret>
				<boss name="boss" x="5120" y="1728" w="111" h="271" texture="Assets/Textures/enemy/Idle.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
							<frame x="192" y="0" w="32" h="32" />
							<frame x="224" y="0" w="32" h="32" />
							<frame x="256" y="0" w="32" h="32" />
						</idle>
					</animations>
				</boss>
			</enemies>
		</entities>
	</scene>
</config>
